@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 120vh;
  margin-top: 15px;
  background-color: $light_grey-color;
  justify-content: center;

  .container_films {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.all_films {
  display: flex;
  width: 1650px;
  margin: 0 auto;

  @include screen {
    width: 85%;
  }

  @include netbook {
    width: 80%;
  }
  @include small_netbook {
    width: 90%;
  }
  @include tablet {
    width: 85%;
  }

  @include mobile {
    width: 80%;
  }
}
