@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $light_grey-color;
  justify-content: center;

  .container_films {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.all_films {
  display: flex;
  width: 1450px;
  margin: 0 auto;
  @include screen {
    width: 80%;
  }
}
