@use "../../styles/color" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  width: 60%;
}
.search_input {
  width: 100%;
  height: 60px;
  border: 2px solid $black-color;
  border-radius: 10px;
  font-size: 30px;
}
.search_button {
  width: 100px;
  height: 60px;
  background-color: $white-color;
  border: 2px solid $black-color;
  font-size: 30px;
}
.clear_input {
  width: 30px;

  background-color: $white-color;
  font-size: 30px;
}
