@use "../../styles/color" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  width: 100%;
  justify-content: center;
}
.search_window {
  display: flex;
  width: 1650px;
  margin-top: 80px;
}
.search_bar {
  display: flex;
  width: 1650px;
  height: 110px;
  margin-top: 80px;
  padding-left: 45px;
  font-size: 30px;
  background-color: $white-color;
  border: 2px solid $white-color;
  border-radius: 10px;
}
.search_input {
  width: 100%;
  height: 100%;
  background-color: $white-color;
  border-radius: 10px;
}
.search_button {
  width: 200px;
  height: 60px;
  margin: 25px 15px;
  font-size: 38px;
  background-color: $light_pink-color;
  border: 2px solid $light_pink-color;
  border-radius: 10px;
}
.search_input_clear {
  min-width: 29px;
  min-height: 29px;
  margin: 41px 20px;
  background-image: url(../../image/clear_input.svg);
  background-repeat: no-repeat;
  background-color: $white-color;
}
.searsh_result {
  margin-top: 30px;
  font-size: 30px;
}
