@use "../../styles/color" as *;

.root {
  display: flex;
  width: 100%;
  height: 250px;
  margin-bottom: -50px;
  justify-content: center;
  flex-wrap: wrap;
}

.search_bar {
  display: flex;
  width: 1450px;
  height: 110px;
  margin-top: 50px;
  padding-left: 45px;
  font-size: 30px;
  background-color: $white-color;
  border: 2px solid $white-color;
  border-radius: 10px;
}
.search_input {
  all: unset;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.search_button {
  width: 200px;
  height: 60px;
  margin: 25px 15px;
  font-size: 38px;
  background-color: $light_pink-color;
  border: 2px solid $light_pink-color;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.search_input_clear {
  min-width: 29px;
  min-height: 29px;
  margin: 41px 20px;
  background-image: url(../../image/clear_input.svg);
  background-repeat: no-repeat;
  background-color: $white-color;
  &:hover {
    cursor: pointer;
  }
}
.searsh_result {
  font-size: 30px;
}
