@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: flex;
  width: 100%;
  height: 220px;
  margin-bottom: -50px;
  justify-content: center;
  flex-wrap: wrap;
  @include screen {
    height: 150px;
    margin-bottom: -30px;
  }
  @include mobile {
    height: 100px;
  }
}

.search_bar {
  display: flex;
  width: 1650px;
  height: 80px;
  margin-top: 50px;
  padding: 0 25px 0 45px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  border: 2px solid $white-color;
  border-radius: 10px;
  @include screen {
    width: 85%;
    margin-top: 30px;
    font-size: 25px;
  }
  @include netbook {
    width: 80%;
    height: 60px;
    font-size: 20px;
    padding: 0 15px 0 30px;
  }
  @include small_netbook {
    width: 90%;
  }
  @include tablet {
    width: 85%;
  }
  @include mobile {
    width: 80%;
    height: 30px;
    padding: 0 5px 0 5px;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 5px;
  }
}

.search_input {
  all: unset;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.search_button {
  width: 150px;
  height: 50px;
  font-size: 30px;
  background-color: $light_pink-color;
  border: 2px solid $light_pink-color;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
  @include screen {
    height: 40px;
    font-size: 25px;
  }
  @include netbook {
    width: 100px;
    font-size: 20px;
  }
  @include mobile {
    width: 60px;
    height: 15px;
    font-size: 10px;
    border-radius: 2px;
  }
}
.search_input_clear {
  min-width: 24px;
  min-height: 24px;
  margin-right: 20px;
  justify-items: center;
  align-content: center;
  background-image: url(../../image/clear_input.svg);
  background-repeat: no-repeat;
  background-color: $white-color;
  background-size: 90%;
  &:hover {
    cursor: pointer;
  }
  @include screen {
    min-width: 20px;
    min-height: 20px;
    background-size: 100%;
  }
  @include netbook {
    min-width: 16px;
    min-height: 16px;
    background-size: 100%;
    margin-right: 10px;
  }
  @include mobile {
    min-width: 8px;
    min-height: 8px;
    margin-right: 5px;
  }
}
.searsh_result {
  font-size: 30px;
  @include screen {
    font-size: 22px;
  }
  @include netbook {
    font-size: 18px;
  }
  @include mobile {
    font-size: 11px;
    height: 10px;
  }
}
