@use "../../styles/color" as *;
.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 1500px;
  height: 1000px;
  padding: 100px 85px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  background-color: $light_violet-color;
  border: none;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}
.content_modal_window {
  display: flex;
  width: 690px;
  min-height: 800px;
  flex-direction: column;
}
.field_image_container {
  display: flex;
  width: 550px;
  height: 800px;
  border-radius: 10px;
  margin-right: 90px;
}
.field_image {
  width: 550px;
  height: 800px;
  border-radius: 10px;
  object-fit: cover;
}
.field_name_title {
  margin-top: 50px;
  font-weight: 600;
  font-size: 50px;
  line-height: 56px;
}
.field_name_description {
  margin-top: 60px;
  font-size: 35px;
  line-height: 39px;
}
.field_name_yearRelease {
  display: flex;
  font-size: 35px;
  line-height: 39px;
  margin: auto 0 0 0;
}
.quick_view_close {
  display: flex;
  justify-content: right;
  margin: -45px -30px;
}
.quick_view_close_button {
  min-width: 30px;
  min-height: 33px;
  background-image: url(../../image/quick_view_close.svg);
  background-repeat: no-repeat;
  background-color: $light_violet-color;
}
