@use "../../styles/color" as *;
@use "../../styles/media" as *;
.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 1300px;
  height: 800px;
  padding: 100px 85px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  background-color: $light_violet-color;
  border: none;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  @include netbook {
    width: 700px;
    height: 600px;
    padding: 35px 35px;
  }
  @include mobile {
    width: 480px;
    height: 400px;
    padding: 30px 30px;
    border-radius: 10px;
  }
  @include small_mobile {
    width: 300px;
    height: 250px;
    padding: 10px 10px;
  }
}
.content_modal_window {
  display: flex;
  width: 600px;
  min-height: 100%;
  flex-direction: column;
  @include netbook {
    width: 45%;
  }
  @include mobile {
    width: 55%;
  }
  @include small_mobile {
  }
}
.field_image_container {
  display: flex;
  width: 450px;
  height: 100%;
  margin-right: 90px;
  @include netbook {
    width: 300px;
    margin-right: 40px;
  }
  @include mobile {
    width: 150px;
    margin-right: 5px;
  }
  @include small_mobile {
    width: 100px;
  }
}
.field_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  @include mobile {
    border-radius: 5px;
  }
}
.field_name_title {
  margin-top: 50px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  @include netbook {
    margin-top: 20px;
    font-size: 30px;
  }
  @include mobile {
    margin-top: -15px;
    font-size: 18px;
    line-height: 40px;
  }
  @include small_mobile {
    margin-top: -15px;
    font-size: 12px;
    line-height: 20px;
  }
}
.field_name_description {
  margin-top: 40px;
  font-size: 25px;
  line-height: 39px;
  @include netbook {
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  @include mobile {
    margin-top: 5px;
    font-size: 15px;
    line-height: 15px;
  }
  @include small_mobile {
    font-size: 10px;
    line-height: 10px;
  }
}
.field_name_yearRelease {
  display: flex;
  font-size: 25px;
  line-height: 39px;
  margin: auto 0 0 0;
  @include netbook {
    font-size: 20px;
    line-height: 25px;
  }
  @include mobile {
    font-size: 15px;
    line-height: 20px;
  }
  @include small_mobile {
    font-size: 10px;
    line-height: 10px;
  }
}
.quick_view_close {
  display: flex;
  justify-content: right;
  margin: -45px -30px;
  @include netbook {
    margin: -10px -20px;
  }
  @include mobile {
    margin: -10px -30px;
  }
  @include small_mobile {
    margin: 0 -10px;
  }
}
.quick_view_close_button {
  min-width: 30px;
  min-height: 33px;
  width: 30px;
  height: 33px;
  background-image: url(../../image/quick_view_close.svg);
  background-repeat: no-repeat;
  background-color: $light_violet-color;
  background-size: 100%;
  &:hover {
    cursor: pointer;
  }
  @include netbook {
    min-width: 20px;
    min-height: 23px;
    width: 20px;
    height: 23px;
  }
  @include small_mobile {
    min-width: 12px;
    min-height: 15px;
    width: 12px;
    height: 15px;
  }
}
