* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.film_cover {
  width: 150px;
  height: 250px;
}
