$white-color: white;
$grey-color: rgb(111, 111, 111);
$black-color: black;
$light_pink-color: #ffeafc;
$light_grey-color: #f6f6f6;
$light_violet-color: #f0cfff;
$pink-color: #ff4ccc;
$red-color: red;
