@use "./color.scss" as *;
@font-face {
  font-family: "PT_Mono";
  src: url(./fonts/PTM55FT.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT_Mono";
}

input {
  all: unset;
}
button {
  outline: none;
  border: none;
}
