@mixin screen() {
  @media only screen and (max-width: 1700px) {
    @content;
  }
}

@mixin netbook() {
  @media only screen and (max-width: 1450px) {
    @content;
  }
}

@mixin small_netbook() {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: 1020px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 750px) {
    @content;
  }
}

@mixin small_mobile() {
  @media only screen and (max-width: 520px) {
    @content;
  }
}
