@mixin screen() {
  @media only screen and (max-width: 1700px) {
    @content;
  }
}

@mixin netbook() {
  @media only screen and (max-width: 1350px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: 1020px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 720px) {
    @content;
  }
}
