@mixin screen() {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}

@mixin netbook() {
  @media only screen and (max-width: 1150px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (max-width: 890px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 560px) {
    @content;
  }
}
