@use "../../styles/color" as *;
@use "../../styles/media" as *;

.modal_content {
  display: flex;
  width: 500px;
  height: 500px;
  padding: 20px 30px;
  flex-direction: column;

  @include small_mobile {
    width: 300px;
    height: 300px;
    padding: 10px 15px;
  }
}

.window_fill {
  display: flex;
  width: 100%;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.error_message {
  margin: 5px 0 0 10px;
  font-size: 12px;
  color: $red-color;

  @include small_mobile {
    font-size: 8px;
    margin: 0 0 0 5px;
  }
}
.quick_view_close {
  display: flex;
  width: 100%;
  justify-content: right;
}

.quick_view_close_button {
  min-width: 18px;
  min-height: 21px;
  width: 18px;
  height: 21px;
  margin: 0 -15px -50px 0;
  background-image: url(../../../public/image/quick_view_close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $light_violet-color;
  transition: 400ms;
  transform: scale(1);

  &:hover {
    cursor: pointer;
    transition: 400ms;
    transform: scale(1.1);
  }

  @include small_mobile {
    min-width: 10px;
    min-height: 13px;
    width: 10px;
    height: 13px;
    margin: 0 -5px -100px 0;
  }
}

.field_content {
  width: 100%;
  height: 80px;
  margin-top: 10px;

  @include small_mobile {
    height: 50px;
    margin-top: 5px;
    line-height: 15px;
  }
}

.field_content_description {
  width: 100%;
  height: 155px;
  margin-top: 10px;

  @include small_mobile {
    height: 95px;
    margin-top: 5px;
  }
}
.field_name {
  font-size: 15px;
  line-height: 30px;

  @include small_mobile {
    font-size: 10px;
    line-height: 15px;
  }
}

::placeholder {
  font-size: 12px;
  opacity: 0.4;

  @include small_mobile {
    font-size: 8px;
  }
}

.field_name_description {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 5px;
  font-size: 12px;
  background-color: $white-color;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  @include small_mobile {
    height: 60px;
    padding: 5px;
    font-size: 8px;
    line-height: 8px;
  }
}

.field_name_yearRelease_title_image {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 12px;
  background-color: $white-color;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  @include small_mobile {
    height: 15px;
    padding: 0 5px;
    font-size: 8px;
  }
}

.add_button {
  width: 100%;
  height: 35px;
  margin: auto 0 0 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  border-radius: 5px;
  background-color: $light_pink-color;

  &:hover {
    cursor: pointer;
  }

  @include small_mobile {
    height: 20px;
    font-size: 12px;
    line-height: 10px;
  }
}

.form_button {
  display: grid;
  width: 100%;
  margin: auto 0 0 0;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1px;

  @include small_mobile {
    grid-template-columns: repeat(auto-fill, 120px);
  }
}

.save_button,
.delete_button {
  width: 200px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 5px;
  background-color: $light_pink-color;

  &:hover {
    cursor: pointer;
  }

  @include small_mobile {
    width: 120px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
  }
}
