@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 45px 70px 45px 70px;

  background-color: $light_pink-color;
  justify-content: space-between;
  @include tablet {
    height: 150px;
    padding: 20px 30px;
    flex-direction: column;
  }
  @include mobile {
    height: 100px;
  }
}

.header_name {
  display: flex;
  font-family: PT_Mono;
  font-size: 55px;
  justify-content: center;
  align-items: center;
  @include screen {
    font-size: 45px;
  }
  @include netbook {
    font-size: 30px;
  }
  @include tablet {
    justify-content: left;
  }
  @include mobile {
    font-size: 20px;
  }
}

.nav_links {
  display: flex;
  font-family: PT_Mono;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  @include screen {
    font-size: 25px;
  }
  @include netbook {
    font-size: 18px;
  }
  @include tablet {
    justify-content: right;
  }
  @include mobile {
    font-size: 12px;
  }
}
.nav_links a {
  text-decoration: none;
  color: $black-color;
  margin: 0 30px;
  &:hover {
    cursor: pointer;
  }
  @include mobile {
    margin: 0 15px;
  }
}

.favorite_link {
  display: flex;
  @include tablet {
    margin-right: 30px;
  }
}
.favorite_counter_circle {
  display: flex;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: -20px -30px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  border: 1px solid $pink-color;
  border-radius: 50%;
  background-color: $pink-color;
  @include netbook {
    min-width: 20px;
    min-height: 20px;
    height: 20px;
    width: 20px;
    margin: -10px -30px;
    font-size: 15px;
  }
  @include mobile {
    min-width: 15px;
    min-height: 15px;
    width: 15px;
    height: 15px;
    margin: -10px -15px;
    font-size: 10px;
  }
}
