@use "../../styles/color" as *;

.root {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 45px 70px 45px 70px;
  background-color: $light_pink-color;
  justify-content: space-between;
}

.header_name {
  font-family: PT_Mono;
  font-size: 60px;
}

.nav_links {
  display: flex;
  font-family: PT_Mono;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.nav_links a {
  text-decoration: none;
  color: $black-color;
  margin: 20px;
}
