@use "../../styles/color" as *;

.root {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 45px 70px 45px 70px;

  background-color: $light_pink-color;
  justify-content: space-between;
}

.header_name {
  display: flex;
  font-family: PT_Mono;
  font-size: 55px;
  justify-content: center;
  align-items: center;
}

.nav_links {
  display: flex;
  font-family: PT_Mono;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.nav_links a {
  text-decoration: none;
  color: $black-color;
  margin: 0 30px;
  &:hover {
    cursor: pointer;
  }
}

.favorite_link {
  display: flex;
}
.favorite_counter_circle {
  display: flex;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: -20px -30px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  border: 1px solid $pink-color;
  border-radius: 50%;
  background-color: $pink-color;
}
