@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 450px);
  justify-content: space-between;
  grid-gap: 1px;
  @include screen {
    grid-template-columns: repeat(auto-fill, 390px);
  }
  @include netbook {
    grid-template-columns: repeat(auto-fill, 350px);
  }
  @include tablet {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 450px);
  }
  @include mobile {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
.add_film {
  display: flex;
  width: 450px;
  height: 700px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #ffeafc 0%,
    #ffdaf9 0.01%,
    #ffe2fa 19.79%,
    #fffbfe 100%
  );
  border-radius: 15px;
  @include screen {
    width: 390px;
  }
  @include netbook {
    width: 350px;
    height: 500px;
  }

  @include tablet {
    width: 450px;
  }
  @include mobile {
    width: 300px;
  }
}

.button_add_film_circle {
  width: 150px;
  height: 150px;
  background-color: $white-color;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.button_add_film_plus {
  min-width: 80px;
  min-height: 80px;
  margin: 35px;
  background-image: url(../../image/plus.svg);
  background-repeat: no-repeat;
}
