@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-between;
  grid-gap: 1px;

  @include netbook {
    grid-template-columns: repeat(auto-fill, 290px);
  }

  @include tablet {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  @include mobile {
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 90%);
  }
}

.add_film {
  display: flex;
  width: 380px;
  height: 650px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #ffeafc 0%,
    #ffdaf9 0.01%,
    #ffe2fa 19.79%,
    #fffbfe 100%
  );
  border-radius: 15px;
  transition: 800ms;
  transform: scale(1);

  &:hover {
    transition: 800ms;
    transform: scale(1.05);
  }

  @include netbook {
    width: 290px;
    height: 500px;
  }

  @include tablet {
    width: 300px;
  }

  @include mobile {
    width: 90%;
    height: 120px;
    margin-top: 30px;
  }
}

.button_add_film_circle {
  width: 150px;
  height: 150px;
  background-color: $white-color;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  @include netbook {
    width: 100px;
    height: 100px;
  }

  @include mobile {
    width: 60px;
    height: 60px;
  }
}

.button_add_film_plus {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  margin: 25% auto;
  background-image: url(../../../public/image/plus.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 600ms;
  transform: scale(1);

  &:hover {
    transition: 600ms;
    transform: scale(1.2);
  }

  @include netbook {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  @include mobile {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
  }
}
