@use "../../styles/color" as *;

.root {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $light_grey-color;
  justify-content: center;
  flex-wrap: wrap;
}

.film_container {
  display: flex;
  width: 1450px;
  height: 1200px;
  margin-top: 150px;
  flex-wrap: wrap;
  flex-direction: column;
}

.field_image {
  width: 550px;
  height: 800px;
  border-radius: 10px;
  object-fit: cover;
}
.header_info_film {
  display: flex;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  justify-content: center;
}
.film_contents_fields {
  display: flex;
  margin-top: 70px;
  flex-wrap: nowrap;
}

.field_name {
  font-size: 35px;
  line-height: 56px;
}
.film_contents {
  display: flex;
  width: 100%;
  margin-left: 120px;
  flex-direction: column;
}

.field_detailed {
  margin-left: 15px;
  font-size: 30px;
  line-height: 56px;
}
.field_name_yearRelease {
  display: flex;
  margin: auto 0 0 0;
}
.field_name_title {
  display: flex;
}
.field_name_description {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
}
.field_detailed_description {
  font-size: 30px;
  line-height: 56px;
}
.exit_viewing_button {
  display: flex;
  width: 100%;
  height: 70px;
  margin-top: 80px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: $light_pink-color;
}
