@use "../../styles/color" as *;

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  background-color: $light_violet-color;
  border: none;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.modal_content {
  display: flex;
  width: 800px;
  height: 800px;
  padding: 30px 50px;
  flex-direction: column;
}

.window_fill {
  display: flex;
  width: 100%;
  flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.error_message {
  margin: 5px 0 0 20px;
  font-size: 17px;
  color: red;
}
.quick_view_close {
  display: flex;
  width: 100%;

  justify-content: right;
}
.quick_view_close_button {
  min-width: 25px;
  min-height: 28px;
  width: 25px;
  height: 28px;
  margin: 0 -20px -50px 0;
  background-image: url(../../image/quick_view_close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $light_violet-color;
  &:hover {
    cursor: pointer;
  }
}
.field_content {
  width: 100%;
  height: 120px;
  margin-top: 15px;
}
.field_content_description {
  width: 100%;
  height: 265px;
  margin-top: 10px;
}
.field_name {
  font-size: 25px;
  line-height: 39px;
}

::placeholder {
  font-size: 16px;
  opacity: 0.4;
}
.field_name_description {
  width: 100%;
  height: 190px;
  padding: 15px;
  margin-top: 5px;
  font-size: 20px;

  background-color: $white-color;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
  }
}
.field_name_yearRelease_title_image {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin-top: 5px;
  font-size: 16px;
  background-color: $white-color;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
  }
}

.add_button {
  width: 100%;
  height: 70px;
  margin: auto 0 0 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
  border-radius: 15px;
  background-color: $light_pink-color;
  &:hover {
    cursor: pointer;
  }
}
.save_button {
  width: 350px;
  height: 70px;
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
  border-radius: 15px;
  background-color: $light_pink-color;
  &:hover {
    cursor: pointer;
  }
}
.delete_button {
  width: 350px;
  height: 70px;

  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
  border-radius: 15px;
  background-color: $light_pink-color;
  &:hover {
    cursor: pointer;
  }
}
.form_button {
  display: grid;
  width: 100%;
  margin: auto 0 0 0;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 1px;
}
