* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
}

.modal_content {
  display: flex;
  width: 170px;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}
