* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal_content {
  display: flex;
  width: 170px;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.error_message {
  color: red;
}
