* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal_content {
  display: flex;
  width: 170px;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.error_message {
  color: red;
}
