@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  position: fixed;
  left: 50%;
  z-index: 1;
  bottom: 30px;
  min-width: 450px;
  padding: 16px;
  background-color: $pink-color;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  transform: translate(-50%, -50%);
  @include tablet {
    min-width: 260px;
    font-size: 14px;
  }
  @include mobile {
    min-width: 200px;
    font-size: 12px;
    padding: 12px;
  }
  @include small_mobile {
    font-size: 10px;
    padding: 8px;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
