@use "../../styles/color" as *;
@use "../../styles/media" as *;

.root {
  width: 380px;
  height: 650px;
  padding: 15px 30px;
  margin-top: 50px;
  background: linear-gradient(
    180deg,
    #ffeafc 0%,
    #ffdaf9 0.01%,
    #ffe2fa 19.79%,
    #fffbfe 100%
  );
  border-radius: 15px;
  transition: 800ms;
  transform: scale(1);

  &:hover {
    transition: 800ms;
    transform: scale(1.05);
  }

  @include netbook {
    width: 290px;
    height: 500px;
    padding: 15px 25px;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 90%;
    height: 270px;
    padding: 10px 15px;
    margin-top: 25px;
  }
}

.fields_title {
  margin-top: -30px;

  @include netbook {
    margin-top: -20px;
  }
}

.field_name {
  font-size: 25px;

  @include netbook {
    font-size: 15px;
  }

  @include mobile {
    font-size: 12px;
  }
}

.field_name_title {
  width: 100%;
  height: 50px;
  padding: 12px;
  margin-top: 10px;
  font-size: 20px;
  background-color: $white-color;
  border: 2px solid $white-color;
  border-radius: 10px;

  @include netbook {
    height: 30px;
    font-size: 15px;
    padding: 3px 8px;
  }

  @include mobile {
    height: 20px;
    margin-top: 5px;
    font-size: 10px;
    border-radius: 5px;
  }
}

.fields_image {
  margin-top: 15px;

  @include netbook {
    margin-top: 15px;
  }

  @include mobile {
    margin-top: 5px;
  }
}

.field_name_image {
  width: 100%;
  height: 360px;
  margin-top: 10px;
  border-radius: 10px;
  object-fit: cover;

  @include netbook {
    height: 260px;
  }

  @include mobile {
    height: 140px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

.favorite_check_star {
  display: flex;
  width: 100%;
  justify-content: right;
}

.favorite_button {
  display: none;

  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}
.label_favorite {
  transition: 400ms;
  transform: scale(1);

  &:hover {
    cursor: pointer;
    transition: 400ms;
    transform: scale(1.1);
  }
}
.favorite_button + label::before {
  content: "";
  display: inline-block;
  min-width: 42px;
  min-height: 42px;
  justify-content: right;
  background-image: url(../../../public/image/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;

  @include netbook {
    min-width: 30px;
    min-height: 30px;
  }

  @include mobile {
    min-width: 20px;
    min-height: 20px;
  }
}

.favorite_button:checked + label::before {
  background-image: url(../../../public/image/check_star.svg);
  background-repeat: no-repeat;
  background-size: 90%;

  @include netbook {
    min-width: 30px;
    min-height: 30px;
  }

  @include mobile {
    min-width: 20px;
    min-height: 20px;
  }
}

.button_svg {
  display: flex;
  align-items: center;
  justify-content: right;
}

.quick_view_button {
  width: 39px;
  height: 35px;
  min-width: 39px;
  min-height: 35px;
  margin-left: 10px;
  background-image: url(../../../public/image/quick_view.svg);
  background-color: var(--class-item-bg);
  background-size: 100%;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }

  @include netbook {
    width: 30px;
    height: 26px;
    min-width: 30px;
    min-height: 26px;
  }

  @include mobile {
    width: 22px;
    height: 16px;
    min-width: 22px;
    min-height: 16px;
    margin-left: 5px;
  }
}

.edit_button {
  width: 30px;
  height: 27px;
  min-width: 30px;
  min-height: 27px;
  background-image: url(../../../public/image/edit.svg);
  background-color: var(--class-item-bg);
  background-size: 100%;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }

  @include netbook {
    width: 21px;
    height: 18px;
    min-width: 21px;
    min-height: 18px;
  }

  @include mobile {
    width: 15px;
    height: 13px;
    min-width: 15px;
    min-height: 12px;
  }
}

.viewing_page {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  background: $light_violet-color;
  border-radius: 15px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }

  @include netbook {
    width: 100%;
    height: 36px;
    font-size: 20px;
    border-radius: 10px;
  }

  @include mobile {
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
  }
}
