@use "../../styles/color" as *;

.root {
  width: 450px;
  height: 700px;
  padding: 25px 40px;
  margin-top: 50px;
  background: linear-gradient(
    180deg,
    #ffeafc 0%,
    #ffdaf9 0.01%,
    #ffe2fa 19.79%,
    #fffbfe 100%
  );
  border-radius: 15px;
}
.fields_title {
  margin-top: -30px;
}
.field_name {
  font-size: 25px;
}

.field_name_title {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  justify-content: center;
  justify-items: center;
  background-color: $white-color;
  border: 2px solid $white-color;
  border-radius: 10px;
}
.fields_image {
  margin-top: 25px;
}
.field_name_image {
  width: 100%;
  height: 360px;
  margin-top: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.favorite_check_star {
  display: flex;
  width: 100%;
  justify-content: right;
}

.favorite_button {
  display: none;

  &:hover {
    background-color: $white-color;
  }

  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}

.favorite_button + label::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  justify-content: right;
  background-image: url(../../image/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.favorite_button:checked + label::before {
  background-image: url(../../image/check_star.svg);
}

.button_svg {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: right;
}
.quick_view_button {
  width: 39px;
  height: 35px;
  margin-left: 10px;
  background-image: url(../../image/quick_view.svg);
}
.edit_button {
  width: 30px;
  height: 27px;
  background-image: url(../../image/edit.svg);
}

.viewing_page {
  width: 100%;
  height: 56px;
  margin-top: 15px;
  font-size: 28px;
  background: $light_violet-color;
  border-radius: 15px;
  letter-spacing: 1px;
}
